* {
    box-sizing: border-box;
    letter-spacing: 2px;
}

body {
    position: relative;
    width: 1500px;
    margin: 0 auto;
}

nav {
    background-color: #FFFFFF;
    height: 48px;
    position: relative;
    top: 0;
    width: 100%;
    margin: 0 auto;
}

.logo {
    padding: 15px 0px;
}

.menu {
    float: right;
}

.menu li {
    font-family: sans-serif;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    padding: 25px 35px;
}

.menu a {
    color: #1F6F15;
    text-decoration: none;
}

.menu a:hover {
    color: #DB4646;
}

.banner {
    position: relative;
    width: 1500px;
    margin: 0 auto;
    padding: 98px 0px;
}

.portfolio {
    height: 150px;
}

.portfolio-center {
    display: block;
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
}

.floatleft {
    text-align: center;
    margin: 50px 0;
}

.floatleft li {
    display: inline-block;
}

.floatleft img {
    float: left;
}

h3 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    font-weight: bold;
    color: #195910;
}

p {
    font-family: sans-serif;
    font-weight: normal;
    color: #9B9B9B;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #233140;
}

footer p {
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding-top: 30px;
    font-weight: normal;
}
