#header {
    background-color: #6D6D6D;
}

h1 {
    text-align: center;
    color: #FFFFFF;
}

#box1 {
    background-color: #B1E6F3;
    height: 800px;
}

#box2 {
    background-color: #FCDFD3;
    height: 800px;
}

#box3 {
    background-color: #F3F2CA
;
    height: 800px;
}

#footer {
    background-color: #5B5B5B;
}

p {
    text-align: center;
    color: #FFFFFF;
}
